flask
#tweePy
#nltk
#boto3
sentinelsat
pandas
datetime
#sentinelloader
#shapely         #for sentinel_loader.py
numpy
#snappy
rasterio
tensorflow
tensorflow_decision_forests
#pillow          #dependency for sentinelloader
#geos
#pyshp
#cartopy         #dependency for sentinelloader
